.maincontent{
  position: relative;
  width: 960px;
  height: auto;
  margin: 90px auto;
}
.leftcontent{
  width: 680px;
  height: 100%;
  float: left;
}
.rightcontent{
  width: 250px;
  height: 100%;
  float: right;
  position: relative;
}
.topscroll{
  width: 100%;
  height:350px;
  position: relative;
}
.scrolltag{
  width: 96px;
  height: 5px;
  overflow: hidden;
  z-index: 99;
  position: absolute;
  margin-top: 335px;
  left: 292px;
}
.scrolltag li{
  width: 17px;
  height: 5px;
  float: left;
  list-style-type: none;
  background-color: #fff;
  margin-right: 7px;
  cursor: pointer;
}
.topscroll a{
  position: absolute;
  display: none;
}
.topscroll a img{
  width: 680px;
  height: 350px;
}
.topscroll a h2{
  width: 66%;
  height: auto;
  margin-left: 30px;
  bottom: 50px;
  z-index: 99;
  position: absolute;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding-left: 15px;
}
.readbox{
  width: 100%;
  height: 280px;
  background-color: #fff;
  margin-top: 10px;
  position: relative;
}
.selfcontent{
  width: 100%;
  height: auto;
}
.selfie{
  width: 100%;
  height: 250px;
  background-color: #000;
  color: #fff;
  line-height: 250px;
  text-align: center;
}
.selfindex{
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 10px;
}
.selfindex li{
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  list-style: none;
}
.selfindex li a{
  display: block;
  text-decoration: none;
  color: #000;
}
.selfindex li a:hover{
  color: #f43e4b;
}
.qacontent{
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.qa{
  width: 100%;
  height: 300px;
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  position: relative;
  overflow: hidden;
}
.titimageB img{
  width: 100%;
  height:280px;
  overflow: hidden;
  z-index: -1;
}
.titleB{
  width: 66%;
  height: auto;
  margin-left: 30px;
  bottom: 30px;
  z-index: 99;
  position: absolute;
  cursor: pointer;
}
.titleB h2{
  color: #fff;
  background-color: #000;
  padding-left: 15px;
}
.titleimageS img{
  width: 45%;
  height: 280px;
  overflow: hidden;
  float: right;
}
.titleS{
  width: 40%;
  height: auto;
  margin-left: 30px;
  top: 30px;
  position: absolute;
  cursor: pointer;
}
.boxtips{
  width: 150px;
  margin-left: 30px;
  bottom: 20px;
  position: absolute;
}
.titletips{
  float: left;
  margin-right: 30px;
}
.qaimages{
  width: 100%;
  height: 220px;
  color: #000;
  line-height: 240px;
  text-align: center;
  cursor: pointer;
}
.qatitles{
  width: 230px;
  height: 70px;
  color: #000;
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 99;
  overflow: hidden;
}
.qatitles span{
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
